@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e1e1e;
  --secondary: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;
}

* {
  background-color: #1e1e1e;
  color: #fff;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
